* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                        url('img/hero.jpg');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    text-transform: uppercase;
}
img{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    margin-left: 190px;
}
.row{
    max-width: 1140;
    margin: 0 auto;
}
.hero-text-box{
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 120%;
    font-weight: 300;
    word-spacing: 4;
}
h1{
    font-weight: 300;
}
.navigation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 100px;
}
li{
    margin-top: 50px;
    margin-left: 40px;
    border: transparent;

}
a{
    text-decoration: none;
}
li:link, a:visited{
    color: #fff;
}
li:hover{
    border-bottom: 1px solid #cf6d17;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}
.btn:hover, btn:active{
    background-color: #cf6d17;
}
.btn-full{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}
.btn-ghost{
    border: 1px solid;
    color: #e67e22;
    transition: color 0.2s;
}
.btn-full:hover, .btn-full:active{
    border: 1px solid #cf6d17;
}
.btn-ghost:hover, .btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff
    ;
}
.features{
    margin-top: 50px;
}
.row_features{
    max-width: 1140px;
    margin: 0 auto;
}
.row_features p{
    width: 80%;
    margin-left: 15%;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 300;
}
h2:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: auto;
    margin-top: 30px;
}

ion-icon{
    font-size: 75px;
    color: #e67e22;
    stroke-width: 20px;
}
.details{
    display: flex;
    margin-top: 50px;
    align-content: flex-start;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;
}
.content{
    width: 250px;
}
.content h3{
    font-weight: 300;
    margin-bottom: 20px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    margin: 0 auto;
}
.images{
    overflow: hidden;
    background-color: #000;
}
.images img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    opacity: 0.7;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.images img:hover{
    opacity: 1;
    transform: scale(1.00);
}
.install{
    margin-top: 30px;
    background-color: #f4f4f4;;
    margin-bottom: 60px;
}
.row_install {
    max-width: 1140px;
    margin: 0 auto;
    height: auto;
}
.row_install2 {
    max-width: 1140px;
    margin: 0 auto;
    height: auto;
    display: flex;
}
.phone_section {
    width: 50%;
}
.phone_section img {
    width: 45%;
    height: auto;
    align-self: flex-end;
    padding-right: 3%;
    float: right;
}
.phone_section:first-child {
    padding-right: 3%;
}
.phone_section:last-child {
    margin-top: 50px;
    padding-left: 3%;
}
.work_step div {
    margin: 0;
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 55px;  
    width: 55px;    
    text-align: center;
    font-size: 150%; 
    margin-right: 25px; 
    float: left;
    left: 0; 
    padding: 5px;
}
.work_step {
    margin-bottom: 50px; 
}
.work_step p {
    margin: 0; 
}
.btn-app:link, .btn-app:visited{
    border: 0;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin: 0;
}
.cities{
    padding: 0.2%;
}
.city{
    display: inline-block;
    margin-left: 92.5px;
}
.city img{
    width: 250px;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    
}
.city ion-icon{
    font-size: 25px;
    color: #e67e22;
    stroke-width: 20px;
}
.city_feature a{
    color: #e67e22;
    text-decoration: underline;
}
.customer_quotes{
    margin-top: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('img/back-customers.jpg');
background-size: cover;
height: 75vh;
}
.quotes_title h2{
    color: #fff;
    padding-top: 75px;
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    color: #fff;
    text-align: center;
}
blockquote::before{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    color: #fff;
}
cite{
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    color: #fff;
    display: block;
    float: left;
    margin: 0;
}
cite img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
cite p{
    margin-left: 250px;
    margin-top: 30px;
}
.quotes{
    display: flex;
}
.customer{
    width: 32.26%;
    text-align: center;
}